input {
  border: solid 1px black;
}

.title {
  width: 100%;
  text-align: center;

}

.items {
width: 100%;
text-align: center;
margin-bottom: 50px;
margin-left: 40px;
margin-top: 40px;
}

.description {
width: 120px;
}
.name{
  top:100px;
}

.pricediv {
float: left;
margin-left: 150px;
}

.unitPrice {
  float:left;
  margin-left: 150px;
}

.partial-price {
float: left;
margin-left: 150px;
}

.button1div {
float: left;
margin-left: 150px;
}

.button2div {
clear: both;
text-align: center;
}

.deleteButtons {
background-color: red;
color: white;
border-color: red;
}

#calculatePriceButton {
background-color: green;
color:white;
border-color: green;
margin: 15px;
}

.zero{
color:red;
text-align: left;
margin: 0px;
}

input{
  margin-left: 10px;
}


}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-delete {
    color: #fff;
    background-color: #CF000F;
    border-color: #CF000F;
}

.quantity {
  margin: 0 5px;
}
